# Unit Tests Should Run when you hit save 

* Rapid Feedback

* Facilitates TDD

* Automatic = Low friction

* Increases test visibility
